.insta-home-stories{
    display: flex;
    padding-left: 10px;
    border-bottom: 2px solid var(--primary-color);
    width: 392px;
    overflow-y: auto;
}
.phone-info{
    padding: 1rem;
    border-top-right-radius: 44px;
    border-top-left-radius: 44px;
}
.flex-evenly{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}
.insta-profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 2px solid lightgreen;
    object-fit: cover;
    margin-right: 10px;
}
.small-font{
    font-size: 10px;
    text-align: center;
    padding-right: 10px;
}
.posts{
    overflow-y: scroll;
    max-height: 800px;
    height: 570px;
}
.post-img{
    width: 100%;
}
.post-name{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.post-logo{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
    margin-left: 10px;
}
.post-description{
    padding: 10px;
}
.heart{
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    width: 30px;
    height: 30px;
    color: red;
    cursor: pointer;
}
.fake-searchbar-container{
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: white;
}
.fake-searchbar{
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: white;
}
.grid{
    display: grid;
    gap: 3px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 600px;
    overflow-y: auto;
}
.col-1, .col-2, .col-3{
    display: grid;
    gap: 3px;
}
.profile-info{
    display: flex;
    padding: 1rem;
}
.profile-info > div > h4{
    margin-bottom: 1rem;
}
.profile-info > div > button{
    padding: 5px;
    border-radius: 6px;
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.profile-info > div > button:nth-child(3){
    margin-left: 1rem;
}
.profile-description{
    margin: 1rem;
}
.profile-stats{
    flex-direction: row;
    padding: 10px 0 10px 0;
    border-top: 3px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}
.profile-posts{
    margin: 1rem;
}
.sheng-profile, .preston-profile, .luis-profile{
    border-radius: 50px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid var(--primary-color);
}
.padding-1rem{
    padding: 1rem;
}
.padding-1rem > h4{
    color: var(--secondary-color)
}
.messages-profile{
    display: flex;
    gap: 10px;
}
.note{
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    width: 60px;
    position: absolute;
    margin: 0.1rem;
    padding: 0.1rem;
}
.message{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.video{
    width: 100%;
    height: 650px;
    position: relative;
}
.video-heart, .comment-button{
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video-heart{
    position: absolute;
    right: 15px;
    background: none;
    bottom: 40%;
}
.video-heart *{
    background: none;
    padding: 0 !important;
}
.video-heart > p{
    background: none;
    text-align: center;
}
.comment{
    position: absolute;
    right: 15px;
    background: none;
    bottom: 32%;
}
.comment-button{
    font-size: 2rem;
    background: none;
}
.comment *{
    background: none;
    text-align: center;
}
.video-message{
    position: absolute;
    right: 15px;
    background: none;
    bottom: 25%;
    width: 40px;
}
.video-creator{
    position: absolute;
    bottom: 100px;
    left: 30px;
    background: none;

}
.reels > *{
    color: white;
}

.new-story-button{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 2px solid gray;
    margin-right: 10px;
    color: var(--primary-color);
    cursor: pointer;
}
.plus-icon{
    font-size: 1.8rem;
    width: 70px;
    background: transparent;
    cursor: pointer;
}
.popover{
    display: none;
    position: absolute;
    width: 348px;
    height: 550px;
    background: white;
    border-radius: 10px;
    top: 20%;
    right: 26px;
    overflow: auto;
    padding-bottom: 10px;
}
.story-profile{
    position: absolute;
    background: transparent;
    margin-top: 10px;
}
.story-profile *{
    background: transparent;
}
.absolute{
    position: absolute;
    bottom: 100px;
    left: 20px;
    z-index: 3;
    background: transparent;
}
.popover *{
    background: transparent;
    color: black;
}
.popover h4{
    text-align: center;
    padding: 10px;
    border-bottom: 1.5px solid var(--primary-color);
    position: relative;
}
.story-image{
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 10px;
    z-index: 5;
    max-height: 600px;
}
.story-user{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    margin: 0 !important;
}
.user{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-left: 20px;
    width: 100%;
    position: absolute;
    top: 65px;
    
}
.story-description{
    width: 100%;
    border: none;
    padding: 10px;
    height: 100px;
}
.description-length{
    width: 100%;
    text-align: right;
    padding-right: 5px;
}
.story-description:focus{
    outline: none;
}
.minus-icon{
    position: absolute;
    right: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}
.popover h3, .popover input{
    text-align: center;
}
.file-input-container {
    display: block;
    margin: 0 auto;
}
input[type="file"] {
    display: none; /* Hide the default file input */
}

.upload-container{
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.custom-file-upload, .post-story-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
.custom-file-upload:hover, .post-story-button:hover {
    background-color: #0056b3;
}
.post-story-button{
    display: block;
    margin: 0 auto;
    border: none;
}
.popover {
    img{
    display: block;
    margin: 0 auto;
    }
}
.post-image{
    background: transparent;
}
.story{
    width: 100%;
    height: auto;
    padding: 2px;
    object-fit: contain;
    padding-top: 50px;
}
.home-page-button{
    position: absolute;
    top: 70px;
    left: 360px;
    font-weight: bold;
    font-size: 1.2rem;
}
.progress-bars{
    display: flex;
    gap: 2px;
    justify-content: space-evenly;
}
.progress-bar{
    background-color: var(--primary-color);
    height: 4px;
    width: 100%;
}
.inner-progress-bar{
    width: 0px;
    height: 1px;
    border: 2px solid white;
    position: absolute;
    z-index: 3;
    left: 0;
    animation: move-right 5s infinite forwards linear;
}
.next-story-button, .prev-story-button{
    z-index: 5;
    background: transparent;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    background: lightgray;
    border: none;
    top: 50%;
}
.next-story-button, .prev-story-button{
    svg{
        background: transparent;
        font-size: 1.25rem;
    }
}

.prev-story-button{
    left: 10px;
}
.next-story-button{
    right: 10px;
}

@keyframes move-right{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}